name: Build tool

on:
  push:
    branches:
      - main
    paths:
      - 'tools/**'
  workflow_dispatch: {}


jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v2
      with:
        global-json-file: 'global.json'
    - name: Set the version
      run: |
        echo "build_number=$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
    - name: Update the version
      run: |
        echo "version=1.0.${{ env.build_number }}" >> $GITHUB_ENV
    - name: Tag this commit
      run: git tag "tools/${{ env.version }}";git push --tags origin
    - name: Build win-x64
      run: dotnet publish tools/EVA.SDK.Generator.V2/ -o ./out/win-x64/ --sc -p:PublishTrimmed=true -p:PublishSingleFile=true -p:DebugType=embedded -p:Version=${{ env.version }} -r win-x64;mv ./out/win-x64/EVA.SDK.Generator.V2.exe ./sdk-generator-win-x64.exe
    - name: Build linux-x64
      run: dotnet publish tools/EVA.SDK.Generator.V2/ -o ./out/linux-x64/ --sc -p:PublishTrimmed=true -p:PublishSingleFile=true -p:DebugType=embedded -p:Version=${{ env.version }} -r linux-x64;mv ./out/linux-x64/EVA.SDK.Generator.V2 ./sdk-generator-linux-x64
    - name: Build osx-x64
      run: dotnet publish tools/EVA.SDK.Generator.V2/ -o ./out/osx-x64/ --sc -p:PublishTrimmed=true -p:PublishSingleFile=true -p:DebugType=embedded -p:Version=${{ env.version }} -r osx-x64;mv ./out/osx-x64/EVA.SDK.Generator.V2 ./sdk-generator-osx-x64
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        name: EVA SDK Generator v${{ env.version }}
        body: EVA SDK Generator v${{ env.version }}
        tag_name: tools/${{ env.version }}
        prerelease: false
        files: |
          ./sdk-generator-win-x64.exe
          ./sdk-generator-linux-x64
          ./sdk-generator-osx-x64