name: Build default outputs

on:
  push:
    branches:
      - main
    paths:
      - 'spec/**'
      - 'tools/**'
  workflow_dispatch: {}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
    env:
      AWS_PAGER: ''
    steps:
    - uses: actions/checkout@v3

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: '10.0.x'
    - name: Generate OpenAPI
      run: rm -Rf output/openapi;dotnet run --project tools/EVA.SDK.Generator.V2/ -- generate openapi -i spec/spec.json -o output/openapi --overwrite --use-string-ids --opt-format json --opt-examples-folder "examples/" --assembly "-EVA.Global" "-EVA.ShelfManagement" "-EVA.Sync"
    - name: Generate Api docs
      run: dotnet run --project tools/EVA.SDK.Generator.V2/ -- generate apidocs -i spec/spec.json -o output/apidocs --overwrite --assembly "-EVA.Global" "-EVA.ShelfManagement" "-EVA.Sync"
    - name: Commit changes
      run: 'git add .;git config --global user.email "ruben.oost@newblack.io";git config --global user.name "Ruben Oost";git diff-index --quiet HEAD || git commit -m "Outputs for: ${{ github.event.head_commit.message }}";git push origin main'
    - uses: actions/setup-dotnet@v4
      name: Setup .NET for NuGet
      with:
        dotnet-version: |
          6.0.x
          7.0.x
          8.0.x
          9.0.x
          10.0.x
    - name: Setup env and files
      run: |
        dotnet build ./tools/EVA.SDK.Generator.V2/
        echo "version=$(dotnet run -v q --no-build --project ./tools/EVA.SDK.Generator.V2/ -- api-version -i ./spec/spec.json)" >> $GITHUB_ENV
        echo "build_number=$GITHUB_RUN_NUMBER" >> $GITHUB_ENV
        dotnet run --project ./tools/EVA.SDK.Generator.V2/ -- generate dotnet -o ./sdks/dotnet/typings/ --overwrite -i ./spec/spec.json --opt-eva-client --opt-extensions --use-string-ids --assembly "-EVA.Global" "-EVA.ShelfManagement" "-EVA.Sync"

    - name: NuGet login
      uses: NuGet/login@v1
      id: login
      with:
        user: ${{ secrets.NUGET_USER }}
    
    - name: Build NuGet
      working-directory: sdks/dotnet
      run: |
        dotnet pack -c Release -o ./out /p:Version=${{ env.version }}.0.${{ env.build_number }}
        dotnet nuget push ./out/NewBlack.EVA.SDK.${{ env.version }}.0.${{ env.build_number }}.nupkg --api-key ${{steps.login.outputs.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
    
